{% extends "base.html" %}
{% block content %}

<div class="dashboard-card">
    <h2>Add Student</h2>

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p style="color:red; text-align:center;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="roll_no" placeholder="Roll Number" required>
        <input type="text" name="name" placeholder="Name" required>
        <input type="number" name="marks" placeholder="Marks" required>
        <button type="submit">Add</button>
    </form>
</div>

{% endblock %}