<!DOCTYPE html>
<html>
<head>
    <title>Student Result Management System</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="topbar">
    <h2>Admin Dashboard</h2>
    {% if session.get("logged_in") %}
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    {% endif %}
</div>

<div class="sidebar">
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('add_student') }}">Add Student</a>
    <a href="{{ url_for('view_students') }}">View Students</a>
    <a href="{{ url_for('search') }}">Search Result</a>
</div>

<div class="main-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>